@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    p {
        @apply pb-5;
    }
    h1 {
        @apply text-[2.5rem] font-bold mb-5 text-[#d71e3e]
        text-center;
    }
}
.solidButton {
    @apply transition duration-300 ease-in-out
   hover:bg-[#b01a30];
}
#react-product-page-root {
  width: 100%;
  margin-top: 10px;
  
    
    top: -100px;
    position: relative;
    left: 15%;
}

#react-product-page-root > * {
  width: 100%;
}

    
   